head 
    meta(charset='UTF-8')
    meta(lang='tr,TR')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    meta(name='description' content='Health N Wonders Official Web App, Providing information and treatment options on health, wellness, and beauty.')
    link(rel="icon" href="/images/favicon/h&wfavicon.svg" type="image/x-icon")
    title Health and Wonders
    link(rel='stylesheet' href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&family=Roboto:wght@400;700&display=swap")
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css")
    link(rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css")
    link(rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css")
    link(rel="stylesheet" href="/stylesheets/css/libraries.css")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js")
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
    link(rel="stylesheet" href="/stylesheets/css/style.css")

