section.team-layout1.pb-80
  .container
    .row
      .col-sm-12.col-md-12.col-lg-6.offset-lg-3
        .heading.text-center.mb-40
          h3.heading__title Sertifikalarımız
          p.heading__desc
            | Sertifikalarımız, sağlık hizmetlerimizdeki yüksek standartlarımızı ve sürekli gelişim anlayışımızı temsil ederek, siz değerli hastalarımıza en iyi hizmeti sunma konusundaki kararlılığımızı göstermektedir.
    .row
      .col-12
        .slick-carousel(data-slick='{"slidesToShow": 3, "slidesToScroll": 1, "autoplay": true, "arrows": false, "dots": false, "responsive": [ {"breakpoint": 992, "settings": {"slidesToShow": 2}}, {"breakpoint": 767, "settings": {"slidesToShow": 1}}, {"breakpoint": 480, "settings": {"slidesToShow": 1}}]}')
          // Member #1
          .member
            .member__img(style="cursor: pointer")
              img(src="/images/team/1.jpg", alt="certificate_1")
          // Member #2
          .member
            .member__img(style="cursor: pointer")
              img(src="/images/team/1.jpg", alt="certificate_2")
          // Member #3
          .member
            .member__img(style="cursor: pointer")
              img(src="/images/team/1.jpg", alt="certificate_3")
          // Member #4
          .member
            .member__img(style="cursor: pointer")
              img(src="/images/team/1.jpg", alt="certificate_4")
          // Member #5
          .member
            .member__img(style="cursor: pointer")
              img(src="/images/team/1.jpg", alt="certificate_5")
          // Member #6
          .member
            .member__img(style="cursor: pointer")
              img(src="/images/team/1.jpg", alt="certificate_6")
