.form-row
    .form-group.col-md-12
        h3.d-flex.justify-content-start.align-items-center.mt-4.mb-4#change-language-title İçerik Dilini Seçiniz
        .d-flex.justify-content-between.align-items-start
            button.btn.btn__primary.btn__outlined.col-md-3#displayENButton.language-btn(data-language="en" type="button") İngilizce 
            button.btn.btn__primary.btn__outlined.col-md-3#displayTRButton.language-btn(data-language="tr" type="button") Türkçe 
            button.btn.btn__primary.btn__outlined.col-md-3#displayFRButton.language-btn(data-language="fr" type="button") Fransızca
            button.btn.btn__primary.btn__outlined.col-md-3#displayDEButton.language-btn(data-language="de" type="button") Almanca      
