.container(style='margin-top: 20px;')
    h1 Yeni Bir Tedavi Ekleyin
    form(method="POST" action="/dashboard/treatments/new")#newTreatmentForm
        .form-row
            .form-group.col-md-4
                label(for="name") İsim:
                input#name.form-control.form-control-sm(type="text" name="name", required=true style='border-radius:5px;!important')
        .form-group.mb-2
            label(for="subTitle") Alt Başlık:
            textarea#subTitle.form-control(name="subTitle", required=true style='border-radius:5px;!important padding: 1px 1px;!important')
        .form-group.mb-2
            label(for="abstract") Özet:
            textarea#abstract.form-control(name="abstract", required=true style='border-radius:5px;!important padding: 1px 1px;!important')
        //- Dynamic Paragraph Section
        .form-group.mb-2
            label(for="description") İçerik:
            textarea#description.form-control(name="description[0][title]", required=true style='border-radius:5px;!important padding: 1px 1px;!important')
        button.btn.btn-primary.col-md-12(type="button" id="addParagraphBtn" style="margin-bottom:5rem;") Paragraf Ekle

        button.mb-20.col-12(type="submit" style="background-color: blue; padding: 15px 0; border-radius:5px") Ekle
