.col-md-12(style='margin-top: 20px; margin-bottom: 120px')
    h2 Yeni Bir Tedavi Ekleyin
    form(method="POST" action="/api/treatments")#newTreatmentForm
        .form-row
        .form-group.col-md-12
            label(for="youtubeLink") Youtube Linki (Opsiyonel):
            input#youtubeLink.form-control(type="text", name="youtubeLink", style='border-radius:5px;!important padding: 1px 1px;!important', required=false)        
        // New Treatment Language Select
        include ./language_bar.pug
        // New Treatment Form
        include ./TreatmentForm/TreatmentContentTR.pug
        include ./TreatmentForm/TreatmentContentEN.pug
        include ./TreatmentForm/TreatmentContentDE.pug
        include ./TreatmentForm/TreatmentContentFR.pug