.col-md-3.col-lg-2.d-md-block.bg-light.sidebar.collapse(style='min-height: 100vh;')
    ul.nav.flex-column(style='font-size: 20px; margin-top: 20px;')
        li.nav-item
            a.nav-link(href="/dashboard") Panel
        li.nav-item
            a.nav-link.active(href="/dashboard/messages") Mesajlar
        li.nav-item
            a.nav-link(href="/dashboard/treatments") Tedaviler
        li.nav-item
            a.nav-link(href="/dashboard/doctors") Doktorlar
        li.nav-item
            a.nav-link(href="/dashboard/blog") Blog
