table#treatmentsTable.table.table-striped.table-bordered.table-hover
    thead
        tr
        th İsim
    tbody
        //- each treatment in treatments
        //-     tr
        //-         td= treatment.name
        //-         td
        //-             a.btn.btn-primary Düzenle
        //-             a.btn.btn-danger.delete-btn Sil
