extends ../layout

block content
  .container-fluid(style='display: flex; height: 100vh;')
    .row.flex-grow-1
      //- Sidebar with full viewport height and sticky behavior
      include ../partials/sidebar.pug
      //- Main content with scrollable behavior
      .col-md-9.ml-sm-auto.col-lg-10.px-md-4#mainContent(style='overflow-y: auto;')
        #newTreatmentForm(style='display: none;')
          include ../partials/new_treatment.pug
        div.container-fluid
          .row
            .col-md-12
              .d-flex.justify-content-between.align-items-center.mt-4.mb-4
                h1 Tedaviler
                button#toggleFormButton.btn.btn-info Yeni Tedavi Ekle
              table#doctorsTable.table.table-striped.table-bordered.table-hover
                thead
                  tr
                    th İsim
                tbody
                  each treatment in treatments
                    tr
                      td= treatment.name
                      td
                        a.btn.btn-primary Düzenle
                        a.btn.btn-danger.delete-btn Sil

block append scripts
  script(src="/javascripts/dashboard/treatmentDashboard.js")
