extends layout

block content
    .container-fluid(style='display: flex; height: 100vh;')
        .row.flex-grow-1
            // Sidebar with full viewport height
            .col-md-3.col-lg-2.d-md-block.bg-light.sidebar.collapse(style='min-height: 100vh;')
                ul.nav.flex-column(style='font-size: 20px; margin-top: 20px;')
                    li.nav-item
                        a.nav-link(href="/dashboard") Panel
                    li.nav-item
                        a.nav-link.active(href="/dashboard/messages") Mesajlar
                    li.nav-item
                        a.nav-link(href="/dashboard/treatments") Tedaviler
                    li.nav-item
                        a.nav-link(href="/dashboard/doctors") Doktorlar
                    li.nav-item
                        a.nav-link(href="/dashboard/blog") Blog
            // Main content with scrolling
            .col-md-9.ml-sm-auto.col-lg-10.px-md-4#mainContent(style='overflow-y: auto;')
                .d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pt-3.pb-2.mb-3.border-bottom
                    h1 Admin Paneli
                    div
                        // You can add buttons or other controls here
                p Welcome to your dashboard!
