extends layout

block content
  .d-flex.flex-column.p4.align-items-center.justify-content-center(style='height: 50vh; width: 100vw;')
    h1= message ? message : 'Lütfen tekrar deneyin'
    h2= error.status ? error.status : 'Error'
    if error.stack
     pre #{error.stack}
