//- views/login.pug
extends layout

block content
    .d-flex.justify-content-center.align-items-center(style='min-height: 75vh;')
        .coltainer-fluid.d-flex.flex-column.justify-content-center.align-items-center(style='border: 1px solid #e0e0e0; padding: 40px 40px; border-radius: 5px;')
            h1 Giriş Yapın
            form(action="/login" method="post")
                div.d-flex.flex-column(style='margin-bottom: 20px;')
                    label(for="userMail") E-mail
                    input(type="mail" name="userMail" required)
                div.d-flex.flex-column(style='margin-bottom: 20px;')
                    label(for="password") Parola:
                    input(type="password" name="password" required)
                .d-flex.justify-content-center
                    button.btn.btn__primary.btn__outlined(type="submit") Login
